################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PivotHeaderIssue/PivotHeaderIssue.Droid/bin
/PivotHeaderIssue/PivotHeaderIssue.Droid/obj
/PivotHeaderIssue/PivotHeaderIssue.iOS/obj
/PivotHeaderIssue/PivotHeaderIssue.UWP/bin
/PivotHeaderIssue/PivotHeaderIssue.UWP/obj
/PivotHeaderIssue/PivotHeaderIssue.Wasm/bin
/PivotHeaderIssue/PivotHeaderIssue.Wasm/obj
/PivotHeaderIssue/PivotHeaderIssue.iOS/bin/iPhone/Debug
/PivotHeaderIssue/PivotHeaderIssue.iOS/PivotHeaderIssue.iOS.csproj.user
